@page "/categories/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Editar Categoría</h3>

@if (category is null)
{
    <p>Cargando...</p>
}
else
{
    <CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Category? category;
    private CategoryForm? categoryForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Category>($"api/categories/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("categories");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            category = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/categories", category);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            categoryForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("categories");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("categories");
    }
}
